nxterm*selectToClipboard: true
xterm*disallowedWindowOps: 20,21,SetXProp
xterm*faceName: Monospace
Xterm*Facesize: 20
xterm*background: black
xterm*foreground: grey
XTerm*Fullscreen: false
xterm*saveLines: 5000000
XTerm*selectToClipboard: true
XTerm*translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

XTerm.vt100.metaSendsEscape: true
XTerm*cursorBlink: false
XTerm*cursorBlinkTime: 2000   # Adjust this value to control blink duration
XTerm*cursorOffTime: 2000      # Adjust this value for how long the cursor is off


xTerm*metaSendsEscape: true
xTerm*eightBitInput: false
XTerm*vt100.eightBitInput: false
